.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_links{
  color: black;
  text-decoration: none;
}
.infomation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.vertical_box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text_links{
  color: black;
  text-decoration: none;
}
.salespeople{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#bikePic{
  width: 100px;
  height: 80px;
  padding-right: 20px;
}
#header_logo{
  display: flex;
  flex-direction: row;
}
#sales_box{
  border-style: solid;
  border-radius: 20px;
  width: 45%;
  height: 725px;
}
#saleperson_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
}
#product_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
}
#customer_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
}
