.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}
.header_links{
  color: black;
  text-decoration: none;
}
.infomation{
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.vertical_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.text_links{
  color: black;
  text-decoration: none;
}
.salespeople{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.not_report{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.header_text{
  font-size: 22px;
}
.sales_box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 700px;
}
.report_link{
  color: black;
  text-decoration: none;
}
.sale_link{
  color: black;
  text-decoration: none;
}

#bikePic{
  width: 100px;
  height: 80px;
  padding-right: 20px;
}
#header_logo{
  display: flex;
  flex-direction: row;
}
#sales{
  text-align: center;
  line-height: 250px;
  border-radius: 20px;
  border-style: solid;
  height: 315px;
  width: 45vw;
  font-size: 20px;
}
#reports{
  text-align: center;
  line-height: 250px;
  border-style: solid;
  border-radius: 20px;
  height: 315px;
  width: 45vw;
  font-size: 20px;
}

#saleperson_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
#product_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
#customer_box{
  border-style: solid;
  border-radius: 20px;
  width: 45vw;
  height: 200px;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
